* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* BODY */

.viewport {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #d9dbd6;
}

.container {
    display: flex;
    width: 70%;
    margin: auto;
    height: 90%;

    /* debug */
    border: 1px solid black;
}

.interaction {
    width: 30%;
    background-color: white;
    /* debug */
    border: 1px solid black;
}

header {
    width: 100%;
    background-color: #eaeaea;
    height: 50px;
}

.notifications {
    background-color: #8edafc;
    height: 50px;
}

.search {
    height: 20px;
    /* debug */
    background-color: grey;
}

.contact {
    height: calc(100% - 120px)
}

.people {
    height: calc(100% / 8);
    display: flex;
    background-color: white;
    /* debug */
    border: 1px solid black;
}

.box-img {
    padding: 5px;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
} 

.profile-photo {
    text-align: center;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
}

.chat {
    width: 70%;
}

.message {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
    background-size: contain;
    border-radius: 5px;
}

.received {
    padding: 10px;
    background-color: white;
}

.sended {
    padding: 10px;
    background-color: #d5f9ba;
    text-align: right;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #f3eeea;
}

