/* SONO PARTITO DA DESKTOP FIRST */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

button ,
input {
    border: 0;
}

i {
    display: block;
}


/* UTILITIES */

.g-text {
    color: #b1b1b1;
}

.flex {
    display: flex;
    gap: 10px;
}

.size {
    font-size: .7rem;
}

.twenty {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 5px;
}

.eighty {
    height: 100%;
    width: 80%;
    padding: 5px;
}

/* BODY */

.viewport {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #d9dbd6;
}

.container {
    display: flex;
    width: 70%;
    margin: auto;
    height: 90%;

    /* debug */
    border: 1px solid black;
}

.interaction {
    width: 30%;
    background-color: white;
    /* debug */
    border: 1px solid black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #eaeaea;
    height: 50px;
}

.action {
    gap: 10px;
    display: flex;
    padding: 10px;
}

.box-img {
    padding: 5px;
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
} 

.notifications {
    display: flex;
    background-color: #8edafc;
    height: 50px;
}

#bell {
    color: #8edafc;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
}

.search {
    background-color: #fafafa;
    padding: 10px;
    height: 30px;
}

.bar {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.contact {
    height: calc(100% - 120px)
}

.people {
    height: calc(100% / 8);
    display: flex;
    background-color: white;
    /* debug */
    border: 1px solid black;
}

.profile-photo {
    text-align: center;
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1;
}

.chat {
    width: 70%;
}

.message {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100% - 100px);
    background-image: url(../img/mine.jpg);
    background-size: contain;
    border-radius: 5px;
}

.received {
    padding: 10px;
    background-color: white;
}

.sended {
    padding: 10px;
    background-color: #d5f9ba;
    text-align: right;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #f3eeea;
}

